In [1]:
import os

In [2]:
os.chdir('/home/yehudan/Desktop/DecisionTree/DecisionTree')

In [1]:
import time
from datasets import mse_comparison 
from scipy.io.arff import loadarff
import pandas as pd
import numpy as np

In [4]:
raw_data = loadarff('datasets/scpf.arff')
df = pd.DataFrame(raw_data[0])
df.shape

(1137, 26)

In [5]:
df.describe()

,daysUntilLastIssue,source_city_initiated,source_android,source_remote_api_created,source_new_map_widget,source_iphone,tag_type_tree,tag_type_street_light,tag_type_graffiti,tag_type_pothole,...,latitude,longitude,city_Oakland,city_Chicago,city_NH,city_Richmond,distanceFromCenter,num_views,num_votes,num_comments
count,1137.000000,874.000000,874.000000,874.000000,874.000000,874.00000,343.000000,343.00000,343.000000,343.000000,...,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000
mean,349.966579,0.043478,0.025172,0.797483,0.046911,0.08238,0.186589,0.09621,0.049563,0.131195,...,40.330571,-88.028220,0.101143,0.607740,0.038698,0.252419,0.294861,12.656113,1.591029,0.104661
std,88.960590,0.204048,0.156736,0.402106,0.211569,0.27510,0.390150,0.29531,0.217357,0.338107,...,2.015765,12.476467,0.301651,0.488469,0.192960,0.434591,0.192724,37.764403,1.218558,0.787527
min,259.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,37.462115,-122.301062,0.000000,0.000000,0.000000,0.000000,0.003926,0.000000,1.000000,0.000000
25%,287.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,37.594639,-87.719467,0.000000,0.000000,0.000000,0.000000,0.133089,0.000000,1.000000,0.000000
50%,314.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,41.748126,-87.668350,0.000000,1.000000,0.000000,0.000000,0.273061,1.000000,1.000000,0.000000
75%,390.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,...,41.894196,-77.501002,0.000000,1.000000,0.000000,1.000000,0.413951,13.000000,2.000000,0.000000
max,623.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,...,42.020392,-72.866249,1.000000,1.000000,1.000000,1.000000,0.870937,938.000000,22.000000,20.000000

In [6]:
df.corr().iloc[-3:,-3:]

              num_views  num_votes  num_comments
num_views      1.000000   0.736354      0.757549
num_votes      0.736354   1.000000      0.709683
num_comments   0.757549   0.709683      1.000000

In [7]:
for i, col in enumerate(df.columns):
    print(i)
    print(df[col].isnull().sum())
    print(len(df[col].unique()))
    print(df[col].value_counts(normalize=True))
    print('-----------------------')

0
0
268
294.0    0.020229
328.0    0.017590
286.0    0.017590
277.0    0.016711
312.0    0.016711
           ...
474.0    0.000880
502.0    0.000880
554.0    0.000880
496.0    0.000880
455.0    0.000880
Name: daysUntilLastIssue, Length: 268, dtype: float64
-----------------------
1
263
3
0.0    0.956522
1.0    0.043478
Name: source_city_initiated, dtype: float64
-----------------------
2
263
3
0.0    0.974828
1.0    0.025172
Name: source_android, dtype: float64
-----------------------
3
263
3
1.0    0.797483
0.0    0.202517
Name: source_remote_api_created, dtype: float64
-----------------------
4
263
3
0.0    0.953089
1.0    0.046911
Name: source_new_map_widget, dtype: float64
-----------------------
5
263
3
0.0    0.91762
1.0    0.08238
Name: source_iphone, dtype: float64
-----------------------
6
794
3
0.0    0.813411
1.0    0.186589
Name: tag_type_tree, dtype: float64
-----------------------
7
794
3
0.0    0.90379
1.0    0.09621
Name: tag_type_street_light, dtype: float64
-----------------------
8
794
3
0.0    0.950437
1.0    0.049563
Name: tag_type_graffiti, dtype: float64
-----------------------
9
794
3
0.0    0.868805
1.0    0.131195
Name: tag_type_pothole, dtype: float64
-----------------------
10
794
3
0.0    0.970845
1.0    0.029155
Name: tag_type_signs, dtype: float64
-----------------------
11
794
3
0.0    0.962099
1.0    0.037901
Name: tag_type_overgrowth, dtype: float64
-----------------------
12
794
3
0.0    0.991254
1.0    0.008746
Name: tag_type_traffic, dtype: float64
-----------------------
13
794
3
0.0    0.623907
1.0    0.376093
Name: tag_type_trash, dtype: float64
-----------------------
14
794
3
0.0    0.96793
1.0    0.03207
Name: tag_type_blighted_property, dtype: float64
-----------------------
15
794
3
0.0    0.988338
1.0    0.011662
Name: tag_type_sidewalk, dtype: float64
-----------------------
16
0
1127
41.730076    0.002639
41.924628    0.001759
41.800821    0.001759
41.666244    0.001759
37.540725    0.001759
               ...
37.804364    0.000880
37.815984    0.000880
41.879376    0.000880
37.508610    0.000880
37.569285    0.000880
Name: latitude, Length: 1127, dtype: float64
-----------------------
17
0
1125
-87.665870     0.001759
-87.715016     0.001759
-87.703766     0.001759
-87.536465     0.001759
-87.703844     0.001759
                 ...
-87.723630     0.000880
-122.271114    0.000880
-122.278046    0.000880
-87.755029     0.000880
-77.503556     0.000880
Name: longitude, Length: 1125, dtype: float64
-----------------------
18
0
2
0.0    0.898857
1.0    0.101143
Name: city_Oakland, dtype: float64
-----------------------
19
0
2
1.0    0.60774
0.0    0.39226
Name: city_Chicago, dtype: float64
-----------------------
20
0
2
0.0    0.961302
1.0    0.038698
Name: city_NH, dtype: float64
-----------------------
21
0
2
0.0    0.747581
1.0    0.252419
Name: city_Richmond, dtype: float64
-----------------------
22
0
1127
0.609375    0.001759
0.369754    0.001759
0.484363    0.001759
0.735356    0.001759
0.629666    0.001759
              ...
0.374186    0.000880
0.062310    0.000880
0.028054    0.000880
0.345120    0.000880
0.206831    0.000880
Name: distanceFromCenter, Length: 1127, dtype: float64
-----------------------
23
0
96
0.0      0.386983
1.0      0.137203
2.0      0.057168
3.0      0.037819
4.0      0.016711
           ...
72.0     0.000880
145.0    0.000880
47.0     0.000880
62.0     0.000880
228.0    0.000880
Name: num_views, Length: 96, dtype: float64
-----------------------
24
0
11
1.0     0.637643
2.0     0.249780
3.0     0.070361
5.0     0.016711
4.0     0.012313
6.0     0.006157
7.0     0.002639
10.0    0.001759
9.0     0.000880
11.0    0.000880
22.0    0.000880
Name: num_votes, dtype: float64
-----------------------
25
0
9
0.0     0.948109
1.0     0.033421
2.0     0.013193
3.0     0.000880
4.0     0.000880
9.0     0.000880
7.0     0.000880
8.0     0.000880
20.0    0.000880
Name: num_comments, dtype: float64
-----------------------

In [8]:
df_new  = df.fillna(df.mode(axis=0).iloc[0])

In [9]:
for i, col in enumerate(df_new.columns):
    print(f'Number of col:{i}')
    print(df_new[col].isnull().sum())
    print(len(df_new[col].unique()))
    print(df_new[col].value_counts(normalize=True))
    print('-----------------------')

Number of col:0
0
268
294.0    0.020229
328.0    0.017590
286.0    0.017590
277.0    0.016711
312.0    0.016711
           ...
474.0    0.000880
502.0    0.000880
554.0    0.000880
496.0    0.000880
455.0    0.000880
Name: daysUntilLastIssue, Length: 268, dtype: float64
-----------------------
Number of col:1
0
2
0.0    0.966579
1.0    0.033421
Name: source_city_initiated, dtype: float64
-----------------------
Number of col:2
0
2
0.0    0.980651
1.0    0.019349
Name: source_android, dtype: float64
-----------------------
Number of col:3
0
2
1.0    0.844327
0.0    0.155673
Name: source_remote_api_created, dtype: float64
-----------------------
Number of col:4
0
2
0.0    0.96394
1.0    0.03606
Name: source_new_map_widget, dtype: float64
-----------------------
Number of col:5
0
2
0.0    0.936675
1.0    0.063325
Name: source_iphone, dtype: float64
-----------------------
Number of col:6
0
2
0.0    0.943712
1.0    0.056288
Name: tag_type_tree, dtype: float64
-----------------------
Number of col:7
0
2
0.0    0.970976
1.0    0.029024
Name: tag_type_street_light, dtype: float64
-----------------------
Number of col:8
0
2
0.0    0.985048
1.0    0.014952
Name: tag_type_graffiti, dtype: float64
-----------------------
Number of col:9
0
2
0.0    0.960422
1.0    0.039578
Name: tag_type_pothole, dtype: float64
-----------------------
Number of col:10
0
2
0.0    0.991205
1.0    0.008795
Name: tag_type_signs, dtype: float64
-----------------------
Number of col:11
0
2
0.0    0.988566
1.0    0.011434
Name: tag_type_overgrowth, dtype: float64
-----------------------
Number of col:12
0
2
0.0    0.997361
1.0    0.002639
Name: tag_type_traffic, dtype: float64
-----------------------
Number of col:13
0
2
0.0    0.886544
1.0    0.113456
Name: tag_type_trash, dtype: float64
-----------------------
Number of col:14
0
2
0.0    0.990325
1.0    0.009675
Name: tag_type_blighted_property, dtype: float64
-----------------------
Number of col:15
0
2
0.0    0.996482
1.0    0.003518
Name: tag_type_sidewalk, dtype: float64
-----------------------
Number of col:16
0
1127
41.730076    0.002639
41.924628    0.001759
41.800821    0.001759
41.666244    0.001759
37.540725    0.001759
               ...
37.804364    0.000880
37.815984    0.000880
41.879376    0.000880
37.508610    0.000880
37.569285    0.000880
Name: latitude, Length: 1127, dtype: float64
-----------------------
Number of col:17
0
1125
-87.665870     0.001759
-87.715016     0.001759
-87.703766     0.001759
-87.536465     0.001759
-87.703844     0.001759
                 ...
-87.723630     0.000880
-122.271114    0.000880
-122.278046    0.000880
-87.755029     0.000880
-77.503556     0.000880
Name: longitude, Length: 1125, dtype: float64
-----------------------
Number of col:18
0
2
0.0    0.898857
1.0    0.101143
Name: city_Oakland, dtype: float64
-----------------------
Number of col:19
0
2
1.0    0.60774
0.0    0.39226
Name: city_Chicago, dtype: float64
-----------------------
Number of col:20
0
2
0.0    0.961302
1.0    0.038698
Name: city_NH, dtype: float64
-----------------------
Number of col:21
0
2
0.0    0.747581
1.0    0.252419
Name: city_Richmond, dtype: float64
-----------------------
Number of col:22
0
1127
0.609375    0.001759
0.369754    0.001759
0.484363    0.001759
0.735356    0.001759
0.629666    0.001759
              ...
0.374186    0.000880
0.062310    0.000880
0.028054    0.000880
0.345120    0.000880
0.206831    0.000880
Name: distanceFromCenter, Length: 1127, dtype: float64
-----------------------
Number of col:23
0
96
0.0      0.386983
1.0      0.137203
2.0      0.057168
3.0      0.037819
4.0      0.016711
           ...
72.0     0.000880
145.0    0.000880
47.0     0.000880
62.0     0.000880
228.0    0.000880
Name: num_views, Length: 96, dtype: float64
-----------------------
Number of col:24
0
11
1.0     0.637643
2.0     0.249780
3.0     0.070361
5.0     0.016711
4.0     0.012313
6.0     0.006157
7.0     0.002639
10.0    0.001759
9.0     0.000880
11.0    0.000880
22.0    0.000880
Name: num_votes, dtype: float64
-----------------------
Number of col:25
0
9
0.0     0.948109
1.0     0.033421
2.0     0.013193
3.0     0.000880
4.0     0.000880
9.0     0.000880
7.0     0.000880
8.0     0.000880
20.0    0.000880
Name: num_comments, dtype: float64
-----------------------

In [10]:
df_scaled = mse_comparison.scale_df(df=df_new,n_targets=3,scale_method='min_max')

In [11]:
start = time.time()
mse_comparison.mse_comparison(path=None,df=df_scaled, n_features=23,max_depth=np.inf,
                              min_samples_leaf=int(0.05*df_scaled.shape[0]),
                               n_splits=10,model='gb',n_estimators=50,
                                  random_state=3)
print(f'Total runtime: {(time.time()-start)/60} minutes')

Cell execution time: 2023-01-16 20:06:41.513956
cc

CV progress bar: 0it [00:00, ?it/s]

for all print:
runtime for all model:25.132451057434082 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:64.9546959400177 seconds

CV progress bar: 1it [59:27, 3567.80s/it]

runtime for LOO model:3477.705842256546 seconds
Score for all:0.0012194862375849611
Score for ind:0.0012889350037232667
Score for loo model:0.0012889350037232669
****************************************************************************************************************************************************************
for all print:
runtime for all model:23.965123176574707 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:81.2215986251831 seconds

CV progress bar: 2it [1:54:02, 3395.38s/it]

runtime for LOO model:3169.49489569664 seconds
Score for all:0.0023762423234773185
Score for ind:0.0023743267466982704
Score for loo model:0.002322931119320543
****************************************************************************************************************************************************************
for all print:
runtime for all model:22.452419996261597 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:68.88904356956482 seconds

CV progress bar: 3it [2:45:37, 3258.15s/it]

runtime for LOO model:3003.5065801143646 seconds
Score for all:0.0009348271079339952
Score for ind:0.0009028979120900391
Score for loo model:0.0009019838210691135
****************************************************************************************************************************************************************
for all print:
runtime for all model:22.173048496246338 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:77.96286845207214 seconds

CV progress bar: 4it [3:38:21, 3220.94s/it]

runtime for LOO model:3063.7405655384064 seconds
Score for all:0.0004959051374727733
Score for ind:0.0004170540689536666
Score for loo model:0.000423467837711298
****************************************************************************************************************************************************************
for all print:
runtime for all model:22.822770357131958 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:61.52926778793335 seconds

CV progress bar: 5it [4:28:26, 3143.25s/it]

runtime for LOO model:2921.152713537216 seconds
Score for all:0.0003548763554329447
Score for ind:0.00043618491244453686
Score for loo model:0.0004343218842960005
****************************************************************************************************************************************************************
for all print:
runtime for all model:22.30095076560974 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:66.02636933326721 seconds

CV progress bar: 6it [5:19:05, 3107.57s/it]

runtime for LOO model:2949.9793927669525 seconds
Score for all:0.0005406722117544515
Score for ind:0.0005556349735891697
Score for loo model:0.0005598492238658995
****************************************************************************************************************************************************************
for all print:
runtime for all model:21.26230001449585 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:67.67216539382935 seconds

CV progress bar: 7it [6:12:18, 3135.80s/it]

runtime for LOO model:3104.9745438098907 seconds
Score for all:0.000796279252086302
Score for ind:0.0007271930219061528
Score for loo model:0.000718579406215921
****************************************************************************************************************************************************************
for all print:
runtime for all model:21.240689754486084 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:66.17947149276733 seconds

CV progress bar: 8it [7:03:24, 3113.43s/it]

runtime for LOO model:2978.101845741272 seconds
Score for all:0.0004698190421953694
Score for ind:0.00045715474578946386
Score for loo model:0.0004567743730726768
****************************************************************************************************************************************************************
for all print:
runtime for all model:33.13498258590698 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:93.2189109325409 seconds

CV progress bar: 9it [8:00:59, 3220.32s/it]

runtime for LOO model:3328.9965586662292 seconds
Score for all:0.008704354898112042
Score for ind:0.00876897907524487
Score for loo model:0.008651736271313321
****************************************************************************************************************************************************************
for all print:
runtime for all model:21.533844470977783 seconds
for ind print:
print for target number: 0
print for target number: 1
print for target number: 2
runtime for ind model:67.02498435974121 seconds

CV progress bar: 10it [8:51:59, 3191.99s/it]

runtime for LOO model:2971.4943323135376 seconds
Score for all:0.0009998131340266739
Score for ind:0.0010012161760215587
Score for loo model:0.0010065400449491854
****************************************************************************************************************************************************************
MSE for all model:   0.0016892275700076832
MSE for ind model:   0.0016929576636460994
MSE LOO model:       0.0016765118985537226
Total runtime: 531.9983668367069 minutes
Total runtime: 531.998418144385 minutes